{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Cisplatin</h1>
            <h3>The website of Simon Hajjar</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <p class="lead">
I'm a 21-year-old with terminal osteosarcoma. This website was initially created as a portfolio for my career, but I am now transforming it into the last remenant of myself. The main project that I want to leave behind is my final testament. I consider it my life in a book - a splatter of my favorite memories, thoughts, lists of drugs I've done, and whatever else I decide was important in my life.
                    </p>
                    <br>
                    <a href="/final_testament" class="btn btn-dark">Download Final Testament</a>
                    <a href="/genome" class="btn btn-dark">Download my Genome</a>
										<br><br><br>

										<p class="lead">
By the time you are reading this, I am already dead. But I lived a great life - I lived life my own way, and had a fantastic time going through a life filled with love. And I will continue to live on through others. A small part of me in each person that I love or who loved me. And that feels so good.
										</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Conatact -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/hajjar.simon">
                            <i class="fa fa-facebook fa-fw fa-2x"></i></a>
                            <a href="https://www.instagram.com/simonhajjar/">
                            <i class="fa fa-instagram fa-fw fa-2x"></i></a>
                            <a href="https://www.linkedin.com/in/simon-hajjar-7511b5a8">
                            <i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                            <a href="https://www.github.com/Cisplatin">
                            <i class="fa fa-github fa-fw fa-2x"></i></a>
                            <a href="http://stackoverflow.com/users/1459901/xenon">
                            <i class="fa fa-stack-overflow fa-fw fa-2x"></i></a>
                            <a href="https://hackerone.com/cisplatin">
                            <i class="fa fa-user-secret fa-fw fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Clipboard.js -->
    <script src="{% static "js/clipboard.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Instatiate the clipboard
    new Clipboard('.btn');

    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

{% endblock %}
